/* Geral */
:root{
    --main-color:#FFC15E;
    --bg:#CE6A85;
    --secundario: #77324d;
    --border:.1rem solid #FFC15E;
    --white: #fff;
    --black: #000;
}

* {
    font-family: 'Inria Sans';
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: purple;
    border-radius: 5rem;
}

body {
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

section{
    padding:2rem 7%;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #F2A340;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: lightyellow;
    border: 2px solid orange;
    border-color: #F2A340;
}

.btn-secondary {
    background-color: #F2A340;
    border-radius: 8px 8px;
}

.btn-secondary:hover {
    background-color: lightyellow;
    border: 2px solid orange;
    border-color: #F2A340;
}