
/* General */
:root{
    --main-color:#FFC15E;
    --bg:#CE6A85;
    --secundario: #77324d;
    --border:.1rem solid #FFC15E;
    --white: #fff;
    --black: #000;
}

* {
    font-family: 'Inria Sans';
}

body {
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

section{
    padding:2rem 7%;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #F2A340;
    border: 2px solid #C28008;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}


/* Mensagem de sucesso */
.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* Estilo do container principal */
.mainIndex {
    display: flex;
    width: 90%;
    margin: auto;
    height: 89vh;
    flex-direction: column;
    justify-content: center;
}

.ScreenMain {
    display: flex;
    align-items: flex-start;
}

.buttons-login-cadastro {
    display: flex;
    margin-right: 130px;
    padding: 10px;
    box-sizing: border-box;
    align-self: flex-end;
}

.buttons-login-cadastro button {
    margin-left: 10px;
}

.TextInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.TextInfo h1 {
    /* text-align: center; */
    color: var(--main-color);
}

.TextInfo h2,
p {
    color: var(--secundario);
}

.mainIndex div h1 {
    font-size: 64px;
    color: var(--main-color);
    font-weight: 900;
}

.mainIndex div h2 {
    color: var(--secundario);
    font-weight: 600;
    margin-block: 5px;
}

.mainIndex div p {
    margin-bottom: 1.5rem;
    color: var(--secundario);
    width: 70%;
}

.mainIndex .buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.mainIndex .buttons button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--main-color);
    color: var(--black);
    font-weight: bolder;
    font-size: 15px;
    transition: 0.5s;
}

.buttons button:hover {
    border-color: var(--secundario);
    background-color: var(--white);
    color: var(--secundario);
}

.mainIndex .buttons .saiba-mais {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.mainIndex .buttons svg {
    transition: 0.5s;
}

.mainIndex .buttons a:hover svg {
    margin-left: 7px;
    transform: scale(1.3);
}

.ImgHome {
    width: 30vw;
    margin-left: 45vh;
}

/* Sobre Nós */
#Team {
    text-align: center;
    padding-bottom: 70px;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dev-person {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    flex-basis: calc(25% - 40px); /* 4 people in a row */
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.dev-person img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.dev-person p {
    margin-top: 10px;
}

.team2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team2 .dev-person {
    flex-basis: calc(33.33% - 40px); /* 3 people in a row */
    transform: translateY(0);
}

.team2 .dev-person:nth-child(1),
.team2 .dev-person:nth-child(2),
.team2 .dev-person:nth-child(3) {
    margin-bottom: 20px;
}  

/* navbar */
#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 2px 5px;
}

.navbar-brand {
    padding: 15px 15px;
    font-size: 22px;
    font-weight: 500;
    color: #757575;
}

.nav-item a {
    font-size: 20px;
    color: #757575;
    padding: 8px;
    margin-right: 15px;
}

#navbar a:hover {
    color: #F2A340;
}

/* Search Container */
#search-container {
    background-size: cover;
    background-position: center;
    height: 160px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: var(--main-color);
    margin-bottom: 30px;
    font-weight: 1000;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* Feiras list */
#feiras-container {
    padding: 50px;
}

#feiras-container h2 {
    margin-bottom: 10px;
    font-size: calc(1.5rem + .9vw);
}

#feiras-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
    font-size: calc(0.2rem + .9vw);
}

#cards-container {
    display: flex;
}

#feiras-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#feiras-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #CCC;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants,
.card-segmento {
    font-size: 14px;
    color: #757575;
}

#feira-create-container {
    padding: 30px
}

#feira-create-container label {
    font-weight: bold;
}

#feira-create-container input,
#feira-create-container select,
#feira-create-container textarea {
    font-size: 12px;
}

/* Páginas das feiras */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#segmento-container h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

#info-container ion-icon {
    font-size: 20px;
    color: #F2A340;
    margin-right: 5px;
}

#info-container #feira-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

/* Pagina Contato */
.forms {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    margin-bottom: 8%;
    align-self: center;
    margin-top: 10%;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    font-weight: bold;
    margin-bottom: 5px;
}
  
input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
}
  
textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
  
button[type="submit"] {
    background-color: var(--secundario);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--bg);
    color: var(--black);
}

.titulo-contato {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: var(--secundario);
} 

.dvds-frequentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    margin-left: 32%;
  }
  
  .duvidas-frequentes {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .duvidas-frequentes h1 {
    color: var(--secundario);
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .duvidas-frequentes p {
    color: var(--secundario);
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  .Questions {
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .questionItem {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .q-and-a {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .text-q-and-a {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .text-q-and-a p {
    margin: 0;
    color: var(--main-color);
    font-weight: 900;
    font-size: 1.1rem;
  }
  
  .text-q-and-a i {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .answer {
    display: none;
  }
  
  .answer p {
    margin-top: 5px;
  }
  
  .showOff {
    display: none;
  }
  
  .show {
    display: block;
  }  

  .link-form a {
    color: var(--black);
    text-decoration: underline;
  }
  
  .link-form a:hover {
    text-decoration: none;
  }

/* Animações */
nav {
    transition: all 0.2s ease-in-out;
}
  
nav.active {
    background-color: var(--bg);
}

nav.active ul {
    display: block;
}
    
nav.active ul li {
    margin: 0;
    padding: 10px;
}
    
.titulo-contato, .duvidas-frequentes {
    animation: fadeInUp 1s ease-in-out;
}

.TextInfo h1 {
    animation: fadeInUp 1s ease-in-out;
}
    
@keyframes fadeInUp {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
    
    @keyframes pulse {
    from {
    transform: scale(1);
    }
    
    to {
    transform: scale(1.1);
    }
}

/* Footer */
.Rodape {
    background-color: var(--main-color);
    padding: 20px 0;
}

.container-rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.linha-vertical {
    height: 60px;
    width: 1px;
    background-color: #333;
    margin: 0 auto;
}

.sobre-nos p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.panellinks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.panellinks .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 {
    margin-bottom: 20px;
    text-align: center;
    padding-left: 50px;
    margin-top: 5px;
}

.list-unstyled li a {
    color: var(--black);
    padding: 5px 0;
    margin-top: 10px;
}